/*Désactivé le cache dans réseau pour actualisé le css*/

html {
    font-family: 'Raleway', sans-serif;
	overflow-y: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("imagesCSS/background.jpg");
    background-attachment: fixed;
    background-size: cover;
	background-repeat: no-repeat;
}

/*Partie du menu*/

a{
    text-decoration: none;
    color: #d27910;
}

nav > ul{
    display: grid;
	grid-template-columns: 4fr 4fr 1fr;
	top: 0;
	left: 0;
	right: 0;
	margin:0;
    box-shadow: 5px 5px 5px;
	position: fixed;
	text-align: left;
    padding: 15px;
	padding-left: 20px;
    list-style-type: none;
    background-color: white;
}

nav ul li{
    float: left;
    width: 25%;
}

nav a{
    display: block;
}

nav a:hover{
    color: #C5E300;
}

nav > ul li:hover .sousMenu{
    display: block;
}

.sousMenu li{
    float: none;
    width: 100%;
    text-align: left;
    padding-right: 50px;
}

.sousMenu a{
    color: black;
    padding: 10px;
    border-bottom: none;
}

.sousMenu a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.sousMenu{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    z-index: 1000;
}

nav ul li{
    float: left;
    width: 25%;
    position: relative;
}

/*Partie du header*/

header{
    padding: 100px;
    padding-bottom: 10px;
}

h1{
    text-align: center;
    color: white;
    font-size: 80px;
}

h2{
    text-align: center;
	color: #C5E300;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
}

h3{
    color: #C5E300;
    font-size: 25px;
}

form{
	font-size: 20px;
	margin-left: auto;
    margin-right: auto;
    width: 11em;
}

#caseFormulaire{
	color:blue;
	border-radius: 40px;
	padding: 7px;
	margin-top: 10px;
	margin-bottom:20px;
}

/*Partie de la barre de recherche*/

#recherche{
    margin-left: 40%;
    margin-top: 50px;

}

#recherche input{
    border-radius: 40px;
    padding: 7px;
    padding-right: 65px;
    border: none;
}

/*Partie du main*/

main{
    background-color: white;
    max-width: 85%;
	margin: auto;
    padding: 30px;
    margin-bottom: 50px;
}

.listeRecettes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recette{
    margin: 10px;
    text-align: center;
}

img{
    width: 230px;
    height: 200px;
}

#submit{
	background-color: #d27910;
	color: white;
	padding: 7px;
	border: none;
	margin-left: 20%;
	height: 40px;
	font-size: 20px;

}

.error{
    font-size: 11px;
    color: tomato;
}

#submit:hover{
	background-color: #C5E300;
}

/*Partie du footer*/

footer{
    background: #C5E300;
    color: white;
    bottom: 0;
    height: 40px;
    left: 0;
    right: 0;
    position: fixed;
    padding-top: 15px;
    padding-left: 92%;
}
